.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  width: 100%;
  max-width: var(--container-width); /* Padronizado */
  margin: 0 auto;
  padding: var(--spacing-xl); /* Padronizado */
}
